@using Microsoft.AspNetCore.Http
@model EmployeeWebApp.Models.SignUpModel

@{
    ViewData["Title"] = "Welcome";
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>FREE RESPONSIVE HORIZONTAL ADMIN</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="../../Content/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME STYLE  -->
    <link href="../../Content/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="../../Content/assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='../../Content/assets/css/googlecss.css' rel='stylesheet' type='text/css' />

</head>
<body>
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="Welcome">
                    <img src="../../Content/assets/img/logomain.png"  />
                    <span style="position: absolute; top: 50%; transform: translateY(-50%); right: -20px;">welcome</span>
                </a>
            </div>
            <div class="right-div">
                @Html.ActionLink("LOG OUT","Logout","Login",new { @class = "btn btn-danger pull-right" })
            </div>
        </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        @if (!string.IsNullOrEmpty(Model.FirstName))
        {
            <a href="welcome" class="menu-top-active">
                @(Model.FirstName + " " + Model.LastName)
            </a>
        }
    </section>
    <!-- MENU SECTION END-->
    <table id="myTable" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Qualification</th>
                <th>Address</th>
                <th>Department</th>
            </tr>
        </thead>
      </table>
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable({
                    "ajax": {
                        "url": "/Employee/LoadData",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "Name", "autoWidth": true },
                        { "data": "Age", "autoWidth": true },
                        { "data": "Qualification", "autoWidth": true },
                        { "data": "Address", "autoWidth": true },
                        { "data": "Department", "autoWidth": true }
                    ]
                });
            });
        </script>
    <!-- CONTENT-WRAPPER SECTION END-->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    &copy; 2023 Designed by : Tarun Kaushik</a>
                </div>

            </div>
        </div>
    </section>
    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="../../Content/assets/js/jquery-3.6.4.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="../../Content/assets/js/bootstrap.js"></script>
    <!-- JQUERY PLUGIN -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <!--DataTabel-->
    <script src="../../js/jquery.dataTables.js"></script>
    <!-- CUSTOM SCRIPTS  -->
    <script src="../../Content/assets/js/custom.js"></script>
</body>
</html>
